Service References/TranslationService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.tilde.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.tilde.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.tilde.com/">
      <s:import namespace="http://www.w3.org/XML/1998/namespace" />
      <s:element name="GetSystemList">
        <s:complexType />
      </s:element>
      <s:element name="GetSystemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSystemListResult" type="tns:SystemConfigurations" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SystemConfigurations">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="System" type="tns:SystemConfiguration" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SystemConfiguration">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Description" type="tns:Description" />
        </s:sequence>
        <s:attribute name="id" type="s:string" />
        <s:attribute name="sourceLang" type="s:string" />
        <s:attribute name="targetLang" type="s:string" />
      </s:complexType>
      <s:complexType name="Description">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute ref="xml:lang" use="optional" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:element name="Translate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sourceText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SystemConfigurations" type="tns:SystemConfigurations" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSystemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSystemList" />
  </wsdl:message>
  <wsdl:message name="GetSystemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSystemListResponse" />
  </wsdl:message>
  <wsdl:message name="TranslateSoapIn">
    <wsdl:part name="parameters" element="tns:Translate" />
  </wsdl:message>
  <wsdl:message name="TranslateSoapOut">
    <wsdl:part name="parameters" element="tns:TranslateResponse" />
  </wsdl:message>
  <wsdl:message name="GetSystemListHttpGetIn" />
  <wsdl:message name="GetSystemListHttpGetOut">
    <wsdl:part name="Body" element="tns:SystemConfigurations" />
  </wsdl:message>
  <wsdl:message name="TranslateHttpGetIn">
    <wsdl:part name="sourceText" type="s:string" />
    <wsdl:part name="system" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSystemListHttpPostIn" />
  <wsdl:message name="GetSystemListHttpPostOut">
    <wsdl:part name="Body" element="tns:SystemConfigurations" />
  </wsdl:message>
  <wsdl:message name="TranslateHttpPostIn">
    <wsdl:part name="sourceText" type="s:string" />
    <wsdl:part name="system" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="TranslationServiceSoap">
    <wsdl:operation name="GetSystemList">
      <wsdl:input message="tns:GetSystemListSoapIn" />
      <wsdl:output message="tns:GetSystemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Translate">
      <wsdl:input message="tns:TranslateSoapIn" />
      <wsdl:output message="tns:TranslateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TranslationServiceHttpGet">
    <wsdl:operation name="GetSystemList">
      <wsdl:input message="tns:GetSystemListHttpGetIn" />
      <wsdl:output message="tns:GetSystemListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Translate">
      <wsdl:input message="tns:TranslateHttpGetIn" />
      <wsdl:output message="tns:TranslateHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TranslationServiceHttpPost">
    <wsdl:operation name="GetSystemList">
      <wsdl:input message="tns:GetSystemListHttpPostIn" />
      <wsdl:output message="tns:GetSystemListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Translate">
      <wsdl:input message="tns:TranslateHttpPostIn" />
      <wsdl:output message="tns:TranslateHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TranslationServiceSoap" type="tns:TranslationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSystemList">
      <soap:operation soapAction="http://www.tilde.com/GetSystemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Translate">
      <soap:operation soapAction="http://www.tilde.com/Translate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TranslationServiceSoap12" type="tns:TranslationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSystemList">
      <soap12:operation soapAction="http://www.tilde.com/GetSystemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Translate">
      <soap12:operation soapAction="http://www.tilde.com/Translate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TranslationServiceHttpGet" type="tns:TranslationServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetSystemList">
      <http:operation location="/GetSystemList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Translate">
      <http:operation location="/Translate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TranslationServiceHttpPost" type="tns:TranslationServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetSystemList">
      <http:operation location="/GetSystemList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Translate">
      <http:operation location="/Translate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TranslationService">
    <wsdl:port name="TranslationServiceSoap" binding="tns:TranslationServiceSoap">
      <soap:address location="http://mt2win1:8090/TranslationService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="TranslationServiceSoap12" binding="tns:TranslationServiceSoap12">
      <soap12:address location="http://mt2win1:8090/TranslationService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="TranslationServiceHttpGet" binding="tns:TranslationServiceHttpGet">
      <http:address location="http://mt2win1:8090/TranslationService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="TranslationServiceHttpPost" binding="tns:TranslationServiceHttpPost">
      <http:address location="http://mt2win1:8090/TranslationService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>