Service References/LocalLetsMTWebService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.letsmt.eu/translationAPI" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://www.letsmt.eu/logic/translator" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://www.letsmt.eu/translationAPI/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.letsmt.eu/translationAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.letsmt.eu/translationAPI">
      <s:import namespace="http://www.w3.org/XML/1998/namespace" />
      <s:import namespace="http://www.letsmt.eu/logic/translator" />
      <s:element name="Translate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="systemID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslateArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="systemID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="textArray" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TranslateArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslateArrayResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetectLanguage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="candidateList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetectLanguageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetectLanguageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BreakSentences">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BreakSentencesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BreakSentencesResult" type="tns:Sentences" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Sentences">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Sentence" type="tns:SentenceBoundary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SentenceBoundary">
        <s:attribute name="start" type="s:int" use="required" />
        <s:attribute name="length" type="s:int" use="required" />
      </s:complexType>
      <s:element name="GetSystemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uiLanguageID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSystemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSystemListResult" type="tns:Systems" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Systems">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="System" type="tns:MTSystem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MTSystem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SrcLanguage" type="tns:Language" />
          <s:element minOccurs="1" maxOccurs="1" name="TrgLanguage" type="tns:Language" />
          <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Title" type="tns:LangText" />
          <s:element minOccurs="1" maxOccurs="1" name="Description" type="tns:LangText" />
          <s:element minOccurs="0" maxOccurs="1" name="Metadata" type="tns:ArrayOfObjectProperty" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Language">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Name" type="tns:LangText" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LangText">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute ref="xml:lang" use="optional" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="ArrayOfObjectProperty">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Item" type="tns:ObjectProperty" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ObjectProperty">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="key" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTranslation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="systemID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="translation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTranslationResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateDocTranslation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="systemID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ignoreWarnings" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="metadata" type="tns:ArrayOfMetadataField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMetadataField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetadataField" nillable="true" type="s1:MetadataField" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateDocTranslationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateDocTranslationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocTranslation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocTranslationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocTranslationResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveDocResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="Sentences" nillable="true" type="tns:Sentences" />
      <s:element name="Systems" nillable="true" type="tns:Systems" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.letsmt.eu/logic/translator">
      <s:complexType name="MetadataField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema targetNamespace="http://www.letsmt.eu/translationAPI/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TranslateSoapIn">
    <wsdl:part name="parameters" element="tns:Translate" />
  </wsdl:message>
  <wsdl:message name="TranslateSoapOut">
    <wsdl:part name="parameters" element="tns:TranslateResponse" />
  </wsdl:message>
  <wsdl:message name="TranslateArraySoapIn">
    <wsdl:part name="parameters" element="tns:TranslateArray" />
  </wsdl:message>
  <wsdl:message name="TranslateArraySoapOut">
    <wsdl:part name="parameters" element="tns:TranslateArrayResponse" />
  </wsdl:message>
  <wsdl:message name="DetectLanguageSoapIn">
    <wsdl:part name="parameters" element="tns:DetectLanguage" />
  </wsdl:message>
  <wsdl:message name="DetectLanguageSoapOut">
    <wsdl:part name="parameters" element="tns:DetectLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="BreakSentencesSoapIn">
    <wsdl:part name="parameters" element="tns:BreakSentences" />
  </wsdl:message>
  <wsdl:message name="BreakSentencesSoapOut">
    <wsdl:part name="parameters" element="tns:BreakSentencesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSystemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSystemList" />
  </wsdl:message>
  <wsdl:message name="GetSystemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSystemListResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTranslationSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTranslation" />
  </wsdl:message>
  <wsdl:message name="UpdateTranslationSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTranslationResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDocTranslationSoapIn">
    <wsdl:part name="parameters" element="tns:CreateDocTranslation" />
  </wsdl:message>
  <wsdl:message name="CreateDocTranslationSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDocTranslationResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocTranslationSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocTranslation" />
  </wsdl:message>
  <wsdl:message name="GetDocTranslationSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocTranslationResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocSoapIn">
    <wsdl:part name="parameters" element="tns:GetDoc" />
  </wsdl:message>
  <wsdl:message name="GetDocSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveDocSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveDoc" />
  </wsdl:message>
  <wsdl:message name="RemoveDocSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveDocResponse" />
  </wsdl:message>
  <wsdl:message name="TranslateHttpGetIn">
    <wsdl:part name="appID" type="s:string" />
    <wsdl:part name="systemID" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="options" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TranslateArrayHttpGetIn">
    <wsdl:part name="appID" type="s:string" />
    <wsdl:part name="systemID" type="s:string" />
    <wsdl:part name="textArray" type="s2:StringArray" />
    <wsdl:part name="options" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslateArrayHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="DetectLanguageHttpGetIn">
    <wsdl:part name="appID" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="candidateList" type="s2:StringArray" />
  </wsdl:message>
  <wsdl:message name="DetectLanguageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BreakSentencesHttpGetIn">
    <wsdl:part name="appID" type="s:string" />
    <wsdl:part name="language" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="options" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BreakSentencesHttpGetOut">
    <wsdl:part name="Body" element="tns:Sentences" />
  </wsdl:message>
  <wsdl:message name="GetSystemListHttpGetIn">
    <wsdl:part name="appID" type="s:string" />
    <wsdl:part name="uiLanguageID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSystemListHttpGetOut">
    <wsdl:part name="Body" element="tns:Systems" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpGetIn">
    <wsdl:part name="appID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="UpdateTranslationHttpGetIn">
    <wsdl:part name="appID" type="s:string" />
    <wsdl:part name="systemID" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="translation" type="s:string" />
    <wsdl:part name="options" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateTranslationHttpGetOut" />
  <wsdl:message name="GetDocTranslationHttpGetIn">
    <wsdl:part name="docID" type="s:string" />
    <wsdl:part name="filename" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocTranslationHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="GetDocHttpGetIn">
    <wsdl:part name="docId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="RemoveDocHttpGetIn">
    <wsdl:part name="docID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoveDocHttpGetOut" />
  <wsdl:message name="TranslateHttpPostIn">
    <wsdl:part name="appID" type="s:string" />
    <wsdl:part name="systemID" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="options" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TranslateArrayHttpPostIn">
    <wsdl:part name="appID" type="s:string" />
    <wsdl:part name="systemID" type="s:string" />
    <wsdl:part name="textArray" type="s2:StringArray" />
    <wsdl:part name="options" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslateArrayHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="DetectLanguageHttpPostIn">
    <wsdl:part name="appID" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="candidateList" type="s2:StringArray" />
  </wsdl:message>
  <wsdl:message name="DetectLanguageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BreakSentencesHttpPostIn">
    <wsdl:part name="appID" type="s:string" />
    <wsdl:part name="language" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="options" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BreakSentencesHttpPostOut">
    <wsdl:part name="Body" element="tns:Sentences" />
  </wsdl:message>
  <wsdl:message name="GetSystemListHttpPostIn">
    <wsdl:part name="appID" type="s:string" />
    <wsdl:part name="uiLanguageID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSystemListHttpPostOut">
    <wsdl:part name="Body" element="tns:Systems" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpPostIn">
    <wsdl:part name="appID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="UpdateTranslationHttpPostIn">
    <wsdl:part name="appID" type="s:string" />
    <wsdl:part name="systemID" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="translation" type="s:string" />
    <wsdl:part name="options" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateTranslationHttpPostOut" />
  <wsdl:message name="GetDocTranslationHttpPostIn">
    <wsdl:part name="docID" type="s:string" />
    <wsdl:part name="filename" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocTranslationHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="GetDocHttpPostIn">
    <wsdl:part name="docId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="RemoveDocHttpPostIn">
    <wsdl:part name="docID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoveDocHttpPostOut" />
  <wsdl:portType name="TranslationWebServiceSoap">
    <wsdl:operation name="Translate">
      <wsdl:input message="tns:TranslateSoapIn" />
      <wsdl:output message="tns:TranslateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslateArray">
      <wsdl:input message="tns:TranslateArraySoapIn" />
      <wsdl:output message="tns:TranslateArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DetectLanguage">
      <wsdl:input message="tns:DetectLanguageSoapIn" />
      <wsdl:output message="tns:DetectLanguageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BreakSentences">
      <wsdl:input message="tns:BreakSentencesSoapIn" />
      <wsdl:output message="tns:BreakSentencesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemList">
      <wsdl:input message="tns:GetSystemListSoapIn" />
      <wsdl:output message="tns:GetSystemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTranslation">
      <wsdl:input message="tns:UpdateTranslationSoapIn" />
      <wsdl:output message="tns:UpdateTranslationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateDocTranslation">
      <wsdl:input message="tns:CreateDocTranslationSoapIn" />
      <wsdl:output message="tns:CreateDocTranslationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocTranslation">
      <wsdl:input message="tns:GetDocTranslationSoapIn" />
      <wsdl:output message="tns:GetDocTranslationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDoc">
      <wsdl:input message="tns:GetDocSoapIn" />
      <wsdl:output message="tns:GetDocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDoc">
      <wsdl:input message="tns:RemoveDocSoapIn" />
      <wsdl:output message="tns:RemoveDocSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TranslationWebServiceHttpGet">
    <wsdl:operation name="Translate">
      <wsdl:input message="tns:TranslateHttpGetIn" />
      <wsdl:output message="tns:TranslateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslateArray">
      <wsdl:input message="tns:TranslateArrayHttpGetIn" />
      <wsdl:output message="tns:TranslateArrayHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DetectLanguage">
      <wsdl:input message="tns:DetectLanguageHttpGetIn" />
      <wsdl:output message="tns:DetectLanguageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BreakSentences">
      <wsdl:input message="tns:BreakSentencesHttpGetIn" />
      <wsdl:output message="tns:BreakSentencesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemList">
      <wsdl:input message="tns:GetSystemListHttpGetIn" />
      <wsdl:output message="tns:GetSystemListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoHttpGetIn" />
      <wsdl:output message="tns:GetUserInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTranslation">
      <wsdl:input message="tns:UpdateTranslationHttpGetIn" />
      <wsdl:output message="tns:UpdateTranslationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocTranslation">
      <wsdl:input message="tns:GetDocTranslationHttpGetIn" />
      <wsdl:output message="tns:GetDocTranslationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDoc">
      <wsdl:input message="tns:GetDocHttpGetIn" />
      <wsdl:output message="tns:GetDocHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDoc">
      <wsdl:input message="tns:RemoveDocHttpGetIn" />
      <wsdl:output message="tns:RemoveDocHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TranslationWebServiceHttpPost">
    <wsdl:operation name="Translate">
      <wsdl:input message="tns:TranslateHttpPostIn" />
      <wsdl:output message="tns:TranslateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslateArray">
      <wsdl:input message="tns:TranslateArrayHttpPostIn" />
      <wsdl:output message="tns:TranslateArrayHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DetectLanguage">
      <wsdl:input message="tns:DetectLanguageHttpPostIn" />
      <wsdl:output message="tns:DetectLanguageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BreakSentences">
      <wsdl:input message="tns:BreakSentencesHttpPostIn" />
      <wsdl:output message="tns:BreakSentencesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemList">
      <wsdl:input message="tns:GetSystemListHttpPostIn" />
      <wsdl:output message="tns:GetSystemListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoHttpPostIn" />
      <wsdl:output message="tns:GetUserInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTranslation">
      <wsdl:input message="tns:UpdateTranslationHttpPostIn" />
      <wsdl:output message="tns:UpdateTranslationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocTranslation">
      <wsdl:input message="tns:GetDocTranslationHttpPostIn" />
      <wsdl:output message="tns:GetDocTranslationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDoc">
      <wsdl:input message="tns:GetDocHttpPostIn" />
      <wsdl:output message="tns:GetDocHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDoc">
      <wsdl:input message="tns:RemoveDocHttpPostIn" />
      <wsdl:output message="tns:RemoveDocHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TranslationWebServiceSoap" type="tns:TranslationWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Translate">
      <soap:operation soapAction="http://www.letsmt.eu/translationAPI/Translate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslateArray">
      <soap:operation soapAction="http://www.letsmt.eu/translationAPI/TranslateArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetectLanguage">
      <soap:operation soapAction="http://www.letsmt.eu/translationAPI/DetectLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreakSentences">
      <soap:operation soapAction="http://www.letsmt.eu/translationAPI/BreakSentences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemList">
      <soap:operation soapAction="http://www.letsmt.eu/translationAPI/GetSystemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://www.letsmt.eu/translationAPI/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTranslation">
      <soap:operation soapAction="http://www.letsmt.eu/translationAPI/UpdateTranslation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDocTranslation">
      <soap:operation soapAction="http://www.letsmt.eu/translationAPI/CreateDocTranslation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocTranslation">
      <soap:operation soapAction="http://www.letsmt.eu/translationAPI/GetDocTranslation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoc">
      <soap:operation soapAction="http://www.letsmt.eu/translationAPI/GetDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDoc">
      <soap:operation soapAction="http://www.letsmt.eu/translationAPI/RemoveDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TranslationWebServiceSoap12" type="tns:TranslationWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Translate">
      <soap12:operation soapAction="http://www.letsmt.eu/translationAPI/Translate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslateArray">
      <soap12:operation soapAction="http://www.letsmt.eu/translationAPI/TranslateArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetectLanguage">
      <soap12:operation soapAction="http://www.letsmt.eu/translationAPI/DetectLanguage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreakSentences">
      <soap12:operation soapAction="http://www.letsmt.eu/translationAPI/BreakSentences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemList">
      <soap12:operation soapAction="http://www.letsmt.eu/translationAPI/GetSystemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://www.letsmt.eu/translationAPI/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTranslation">
      <soap12:operation soapAction="http://www.letsmt.eu/translationAPI/UpdateTranslation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDocTranslation">
      <soap12:operation soapAction="http://www.letsmt.eu/translationAPI/CreateDocTranslation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocTranslation">
      <soap12:operation soapAction="http://www.letsmt.eu/translationAPI/GetDocTranslation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoc">
      <soap12:operation soapAction="http://www.letsmt.eu/translationAPI/GetDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDoc">
      <soap12:operation soapAction="http://www.letsmt.eu/translationAPI/RemoveDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TranslationWebServiceHttpGet" type="tns:TranslationWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Translate">
      <http:operation location="/Translate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslateArray">
      <http:operation location="/TranslateArray" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetectLanguage">
      <http:operation location="/DetectLanguage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreakSentences">
      <http:operation location="/BreakSentences" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemList">
      <http:operation location="/GetSystemList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <http:operation location="/GetUserInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTranslation">
      <http:operation location="/UpdateTranslation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetDocTranslation">
      <http:operation location="/GetDocTranslation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoc">
      <http:operation location="/GetDoc" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDoc">
      <http:operation location="/RemoveDoc" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TranslationWebServiceHttpPost" type="tns:TranslationWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Translate">
      <http:operation location="/Translate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslateArray">
      <http:operation location="/TranslateArray" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetectLanguage">
      <http:operation location="/DetectLanguage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreakSentences">
      <http:operation location="/BreakSentences" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemList">
      <http:operation location="/GetSystemList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <http:operation location="/GetUserInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTranslation">
      <http:operation location="/UpdateTranslation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetDocTranslation">
      <http:operation location="/GetDocTranslation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoc">
      <http:operation location="/GetDoc" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDoc">
      <http:operation location="/RemoveDoc" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TranslationWebService">
    <wsdl:port name="TranslationWebServiceSoap" binding="tns:TranslationWebServiceSoap">
      <soap:address location="https://letsmt-logic.tilde.lv/ws/service.asmx" />
    </wsdl:port>
    <wsdl:port name="TranslationWebServiceSoap12" binding="tns:TranslationWebServiceSoap12">
      <soap12:address location="https://letsmt-logic.tilde.lv/ws/service.asmx" />
    </wsdl:port>
    <wsdl:port name="TranslationWebServiceHttpGet" binding="tns:TranslationWebServiceHttpGet">
      <http:address location="https://letsmt-logic.tilde.lv/ws/service.asmx" />
    </wsdl:port>
    <wsdl:port name="TranslationWebServiceHttpPost" binding="tns:TranslationWebServiceHttpPost">
      <http:address location="https://letsmt-logic.tilde.lv/ws/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>